@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h3>User Profile</h3>

<p>ID: 1</p>
<p>Name: test</p>
<p>Address: Dhaka, BD</p>